Kitsune/Logging/Logs/Debug.txt
Kitsune/Logging/Logs/Fine.txt
Kitsune/Logging/Logs/Info.txt
Kitsune/Logging/Logs/Notice.txt
Kitsune/Logging/Logs/Warn.txt
Kitsune/Logging/Logs/Error.txt
Kitsune/Logging/Logs/Fatal.txt
*.json